---
layout: single
classes : wide
author_profile: false
googlewebfonts: Gloria+Hallelujah
sidebar:
  - title: ""
    image: /assets/images/me.jpeg
    #image_alt: "logo"
    text: "Technical Engineer, Cisco Systems"
  - nav: "sidebarCategory"
---
<h5> Welcome !</h5>
<p>This website provides relavent contents in almost all things networking, designed in very plain text and can be searched using browser tools. You wont find any heavy images, videos, or advertisements. </p>
<p>My content listing on Cisco Secure Workload (formerly known as Tetration Analytics ) are as follows :</p>
<!--This code is to pull all the navigation menu for Tetration -->
  {% for item in site.data.navigation.tetration %}
    <h3>{{ item.title }}</h3>
      <ul>
        {% for entry in item.children %}
          <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
        {% endfor %}
      </ul>
  {% endfor %}
