---
layout: single
classes : wide
author_profile: false
googlewebfonts: Gloria+Hallelujah
#title: "My Notebook"
excerpt: "Foo Bar design system including logo mark, website design, and branding applications."
# header:
  # image: /assets/images/me1.jpeg
  # teaser: /assets/images/me.jpeg
sidebar:
  - title: ""
    image: /assets/images/me.jpeg
    image_alt: "logo"
    text: "Technology Evangelist, Cisco Systems"
  - nav: "sidebarCategory"
---
Cisco Tetration is Cisco's all-in-one solution for full-stack visibility, workload security, and policy compliance. 
It offers holistic workload protection for multi-cloud datacenters by enabling a zero-trust model using segmentation. 
This approach allows you to identify security incidents faster, contain lateral movement, and reduce your attack surface. 
Tetration's infrastructure-agnostic approach supports both on-premises and public cloud workloads.

{% for item in site.data.navigation.tetration %}
    <h3>{{ item.title }}</h3>
      <ul>
        {% for entry in item.children %}
          <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
        {% endfor %}
      </ul>
  {% endfor %}